.skills {
    margin: auto;
}

.skills-heading {
    font-size: 14px;
    margin-top: var(--size-gap);
}

.icon-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    justify-content: center;
}

.icon-column {
    display: flex;
    margin: 0;
}

.icon {
    width: 70px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin: 8px;
    text-align: center;
    color: #ffffff;
}

.custom-icon {
    height: 24px;
    width: 70px;
}