.icon-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;

    @media screen and (min-width: 1025px) {
        justify-content: space-between;
    }
}

.icon-column {
    display: flex;
    margin: 0;
}

.icon {
    width: 48px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin: 8px;
    text-align: center;
    color: #ffffff;

    @media screen and (min-width: 372px) {
        width: 70px;
    }

    @media screen and (min-width: 1025px) {
        width: 97px;
        margin: 12px;
        font-size: 14px;
    }
}

.custom-icon {
    height: 24px;
    width: 48px;

    @media screen and (min-width: 372px) {
        width: 70px;
    }

    @media screen and (min-width: 1025px) {
        width: 97px;
        height: 28px;
    }
}