.links {
    margin-top: 12px;
    padding: 16px;

    @media screen and (min-width: 1024px) {
        margin-top: 28px;
    }
}

.link:hover {
    color: #ffffff;
}

.links-row > * {
    margin-right: 24px;
}