.about {
    padding: 16px;
    margin-top: 2rem;

    @media screen and (min-width: 1025px) {
        margin-top: 7rem;

    }
}

.about-heading {
    font-size: 14px;
    padding-bottom: 28px;
    margin-top: 2px;

    @media screen and (min-width: 1025px) {
        font-size: 16px;
    }
}

.about-text {
    color: var(--color-text);
    font-size: 14px;

    @media screen and (min-width: 1025px) {
        font-size: 16px;
    }
}