.header {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 7rem;

  @media screen and (max-width: 1024px) {
    padding-top: 3rem;
    position: static;
    height: 100%;
    width: 100%;
  }
}