
.experience-heading {
    font-size: 14px;
    margin-top: var(--size-gap);
    margin-bottom: var(--space-3);
}

.experience-heading-small {
    font-size: 14px;
    margin-bottom: var(--space-1);
    margin-top: var(--space-1);
    font-weight: normal;
}

.experience-text {
    font-size: 14px;
}
